body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: aquamarine;
    border: 1px solid black;
    cursor: pointer;
}

#container {
    width: 600px;
}

.rowDiv {
    display: flex;
}

.inDiv {
    border: 1px solid black;
    transition: background-color 0.3s;
}